.gallery__item {
  height: 40vh;
  width: 24vw;
  padding: 3px; }
  @media screen and (max-width: 992px) {
    .gallery__item {
      height: 400px; } }

.container-fluid--paddingout {
  padding: 0px; }

.slider__container {
  height: 250px;
  overflow: hidden; }

/*Variables*/
/*Header*/
/*Header__Menu*/
header .navbar__position {
  justify-content: center;
  margin-top: 10px; }

@media screen and (max-width: 992px) {
  header .navbar__position {
    justify-content: flex-end; } }

header .active {
  border: solid;
  border-width: 2px 0px 2px 0px;
  color: rgba(179, 156, 26, 0.829); }

header .h1--custom {
  font-size: 35px;
  margin: -16px 0px -16px 0px; }

header .h2--custom {
  font-size: 20px;
  margin: 10px 0px -16px 0px; }

/*Footer*/
.nav__footer {
  color: inherit;
  text-decoration: none; }
  .nav__footer :hover {
    text-decoration: none;
    color: black; }
