.gallery__item {
  height: 40vh;
  width: 24vw;
  padding: 3px; }
  @media screen and (max-width: 992px) {
    .gallery__item {
      height: 400px; } }
  .gallery__item:hover {
    box-shadow: 3px 5px 3px gray;
    mask: ''; }

.container-fluid--paddingout {
  padding: 0px; }

.slider__container {
  height: 250px;
  overflow: hidden; }

.main__contacto {
  background-image: url("https://www.publicdomainpictures.net/pictures/330000/velka/pergament-beige-hintergrund-vintage.jpg"); }
  .main__contacto .contacto-formulario {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 0px; }
  .main__contacto #contact_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; }
  .main__contacto #contact_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; }
  .main__contacto .container--form {
    margin-top: 150px; }

.placeholder {
  height: 20vh;
  width: 100%;
  background-color: black;
  position: relative;
  top: 20vh;
  border-radius: 55px; }
  .placeholder .placeholder__texto {
    color: white;
    text-align: center;
    font-size: 13vh; }

.placeholder:hover {
  opacity: 0.5; }

.quienes__area {
  background-color: indianred;
  opacity: 0.3;
  width: 100%;
  height: 600px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px; }

/*Corregir*/
.quienes__text {
  position: relative;
  bottom: 600px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden; }
  .quienes__text .primera_letra {
    display: inline;
    font-size: 8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey; }

/*Variables*/
/*Header*/
/*Header__Menu*/
header .navbar__position {
  justify-content: center;
  margin-top: 10px; }

@media screen and (max-width: 992px) {
  header .navbar__position {
    justify-content: flex-end; } }

header .active {
  border: solid;
  border-width: 2px 0px 2px 0px;
  color: rgba(179, 156, 26, 0.829); }

header .h1--custom {
  font-size: 35px;
  margin: -16px 0px -16px 0px; }

header .h2--custom {
  font-size: 20px;
  margin: 10px 0px -16px 0px; }

/*Footer*/
footer a {
  text-decoration: none;
  color: inherit; }
  footer a:hover {
    text-decoration: none;
    color: black; }

footer .nav__footer {
  color: inherit;
  text-decoration: none; }
  footer .nav__footer :hover {
    text-decoration: none;
    color: black; }

footer .iconos {
  display: inline-block;
  height: 50px;
  width: 50px; }

footer #ig {
  position: relative;
  bottom: 10px; }
